<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home/select-date">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">LAT
            <div><sub class="logo_subText">Log Analysis Tool</sub></div>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/home/select-date">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Select Date</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Analysis
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>API Log</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Statistic Function</h6>
                <a class="collapse-item" href="/api/analysis/dags-log/api-type">API Type</a>
                <a class="collapse-item" href="/api/analysis/dags-log/destination-host">Destination Host</a>
                <a class="collapse-item" href="/api/analysis/dags-log/time-consume">Consume Time</a>
                <a class="collapse-item" href="/api/analysis/dags-log/status-code">Http Status Code</a>
                <a class="collapse-item" href="/api/analysis/dags-log/dags-host">Dags Host Server</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Event Log</span>
        </a>
        <div id="collapseUtilities" class="collapse show" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Statistic Function</h6>
                <a class="collapse-item" href="/api/analysis/dems-log/event-name">Event Name</a>
                <a class="collapse-item" href="/api/analysis/dems-log/provider">Provider</a>
                <a class="collapse-item" href="/api/analysis/dems-log/workflow">Workflow</a>
                <a class="collapse-item" href="/api/analysis/dems-log/consume-time">Consumed Time</a>
                <a class="collapse-item" href="/api/analysis/dems-log/create-at">Created Time</a>
                <a class="collapse-item" href="/api/analysis/dems-log/dems-host">Dems Host Server</a>
                <a class="collapse-item" href="/api/analysis/dems-log/error">Error</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
